[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nbconvert = "*"
pandas = "*"
saxonche = "12.9.0"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.13"
