080_scripts_generic/*/data
080_scripts_generic/*/lib
080_scripts_generic/*/.ELAN2TEI
.DS_STORE
**/.env
.ipynb_checkpoints
103_tei_w/*/**
080_scripts_generic/080_01_ELAN2TEI/ELAN2TEI.py
103_tei_w/table_cell_num_mapping.json
