[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
sharepy = "*"
saxonpy = "==0.0.2"
nbconvert = "*"
pexpect = "*"
importlib-resources = "*"
importlib_metadata = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.8"
