[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
sharepy = "*"
nbconvert = "*"
pexpect = "*"
importlib-resources = "*"
importlib_metadata = "*"
zipp = "*"
saxonche = "12.4.2"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
